body,html {
    margin:0;
    width: 100%;   
}
body {
    padding: 14px;
    font-family: "Helvetica", sans-serif;
}

* {
    box-sizing: border-box;
}

textarea {
    width: 100%;
}

#rules {
    display: flex;
    flex-wrap: wrap;
    margin-right: -14px;
}

#rules div {
    width: calc( 25% - 14px );
    margin: 14px;
    margin-left: 0px;
}

.rule {
    order:-1;
    position: relative;
}

.rule p:first-of-type {
    margin-top: 0px;
}

.rule textarea {
    height: 10em;
}

#addDiv {
    margin-left: auto !important;
    display: flex;
    flex-direction: column-reverse;
    min-height: 4em;
}

#addDiv a {
    display: inline-block;
    margin-top: 0.5em;
}

h1 {
    font-size: 50px;
    color: Tomato;
    text-transform: uppercase;
}

a {
    display: inline-block;
    width: 100%;
    background-color: Tomato;
    color: white;
    text-decoration: none;
    text-align: center;
    line-height: 2em;
}

.hidden {
    display:none;
}

.close{
    width:0.5em;
    color: gray;
    background: none;
    font-family: sans;
    position: absolute;
    top: -0.5em;
    right: 0px;
}

#clear {
    margin-top: 0.5em;
}

#print {
    margin-top: 0.5em;
}

#result p {
    font: 100px "Helvetica", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}


/* -------------- IMPRESSION ------------ */

@media print {
    #interface {
        display: none !important;
    }
    h1 {
        display: none !important;
    }  
    h2 {
        display: none !important;
    }    
    #boutons {
        display: none !important;
    }
    #result {
        display: block !important;
        color: black;
        font: "Helvetica", sans-serif;
        font-size: 100px !important;
        text-transform: uppercase;
        font-weight: bold;
        /*writing-mode: vertical-rl;*/
    } 
}
@page {
  size: 148mm 210mm;
  margin-top: 8mm;
  margin-right: 8mm;
  margin-bottom: 8mm;
  margin-left: 5mm;
}
